@model GetWalletsResponse

<a class="btn btn-success mb-3" asp-controller="Wallets" asp-action="New">Add new wallet</a>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th>Balance</th>
                <th>Code</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.Wallets.Count; i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@Model.Wallets[i].Balance</td>
                    <td>@Model.Wallets[i].Currency.Code</td>
                    <td>@Model.Wallets[i].Currency.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Wallets" asp-action="Funds" asp-route-id="@Model.Wallets[i].Id">
                            Manage balance
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>