@model GetInvestmentsResponse
<form class="container mt-4 mb-4" asp-controller="Investments" asp-action="Filter">
    <div class="input-group">
        <input type="text" class="form-control" name="filter" id="filter" placeholder="Filter">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Apply Filter</button>
        </div>
    </div>
</form>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th>Etf Name</th>
                <th>Etf Type</th>
                <th>Etf Value</th>
                <th>Quantity</th>
                <th>Currency</th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.Investments.Count; i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@Model.Investments[i].Etf.Name</td>
                    <td>@Model.Investments[i].Etf.TypeName</td>
                    <td>@Model.Investments[i].Etf.SingleValue</td>
                    <td>@Model.Investments[i].Quantity</td>
                    <td>@Model.Investments[i].WalletCurrency.Code</td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" asp-controller="Investments" asp-action="Mine" asp-route-page="@(Model.CurrentPage - 1)">Previous</a>
            </li>
            @for (int i = 1; i <= Model.Count; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Investments" asp-action="Mine" asp-route-page="@i">@i</a>
                </li>
            }
            <li class="page-item @((Model.CurrentPage + 1) * InvestmentManagerApi.Shared.Constants.DEFAULT_PAGE_SIZE > Model.Count ? "disabled" : "")">
                <a class="page-link" asp-controller="Investments" asp-action="Mine" asp-route-page="@(Model.CurrentPage + 1)">Next</a>
            </li>
        </ul>
    </nav>
</div>